.section-holder{
    display:block;
    overflow:auto;
    margin:auto 30px;
}
.row {
    padding-bottom:20px;
    margin:0;
}

.row:after {
    clear: both;
}
/*Two column layout*/
.column-2 { 
    width:50%;
    float:left;
 }

.column-holder {
    max-width: 98%; 
    display: block;
    /*margin:0 auto;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    /*min-height: 100px;*/
    /*text-align: left;*/
}

 /*Three column layout*/
.column-3 { 
    width:33.333333333333333333333333333%;
    float:left;
 }
 /*Four column layout*/
.column-4 { 
    width:25%;
    float:left;
 }
/*Two-thirds column layout*/
 .column-2-3 { 
    width:66.67%;
    float:left;
 }
/*One-thirds column layout*/
 .column-1-3{ 
    width:33.33%;
    float:left;
 }

@media only screen and (max-width: 800px) {
/*Two column layout*/
    .column-2 {
        width:100%;
    }
 /*Three column layout*/
    .column-3 { 
        width:100%;
    }
/*Two-thirds column layout*/
    .column-2-3 {
        width:100%;
    }
/*One-thirds column layout*/
    .column-1-3 { 
        width:100%;
    }
    /*Four column layout*/
    .column-4 { 
    width:50%;
    }


}

@media only screen and (max-width: 600px) {
    .column-4 {
        width:100%;
    }
}


/*Aligning header center*/
.section-header {
    text-align:center;
}