/*Global scale styling*/
/*h1 {
	margin:0;
	font-family: 'Lobster', cursive;
}*/
/*img {
	display: block;*/
  	/*margin-left: auto;
  	margin-right: auto;*/
/*  	width:100%;
}*/
/*h3{
	margin:0;
	font-size: 25px;*/
    /*font-family: 'Varela Round', sans-serif;*/
    /*font-family: "Courier New", Courier, monospace;*/
    /*"Comic Sans MS", cursive, sans-serif;*/
/*}*/
/*h4 {
	font-size: 18px;
	text-align: center;
}
p{
	margin:5px;
	line-height: 1.65em;
	font-size:1.2em;
}*/
/*.section-holder {*/
	/*margin-bottom: -7.5%;*/
	/*margin-top:-5%;*/
/*}*/
/*.section-header {
	margin-top:-5%;
    padding-top:50px;
    width:50%;
    margin:0 auto;
    color:#000;
    background-color: #fff;
    padding-bottom: 50px;
    border:solid 1px #ccc;
    border-radius: 20px;
    text-align: center;*/
	/*width:20%;
    margin:0 auto;
	background-color: #f0b9fb;*/
	/*position:absolute;*/
	/*top:0;*/
	/*left:0;*/
	/*width: 100%;
	text-align: center;
	padding:0;
	margin:0;*/
/*}*/
.section-header h3{
	padding:20px 10px;
	margin:0;
	background-color: #f0b9fb;

}
/*End of global scale styling*/


/*Section scope styling*/

.nav {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}

.section-1 {
	background:url("../img/background-1.jpeg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	height:100vh;
	color:#fff;
	margin:0;
}
.full-center {
    position: absolute;
    top:40%;
    left:15%;
    height:100%;
    width:70%;
	text-align: center;
	overflow: auto;

}
.section-1 h1{
	/*padding-top:100px;*/
	font-size:40px;
	/*text-align: center;*/
}
.section-1 p{
	/*padding: 10px 0;*/
	font-size:25px;
}
.section-1 button {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	border-width:0;
  	padding:10px 20px;
  	border-radius: 10px;
  	background-color:#ffb9fb;
}
.section-1 button:hover {
  	background-color:#ffb9fb;
  	padding:10px 20px;
  	transition: 0.4s;
}

.section-2, .section-3,.section-4,.section-5,.section-6 {
	padding:50px 0px;
}

.section-2 img {
	width:100%;
	border-radius: 50%;
}
.section-2 p{
	line-height: 1.55em;
	font-size:1.2em;
}

.section-4, .section-5{
	background-color: #ffc1fa;
	/*opacity: 0.1;*/
}

.section-3 .column-1-3 {
	float:right;
}
.section-3 img {
	width:100%;
	border-radius: 50%;
}
.section-4 img {
	width:100%;
	/*border-radius: 50%;*/
}

.section-5 {
	text-align: center;
}
/**************PROGRESS BARS*********************/
.progress {
    width: 100%;
    /*height:40px;*/
    background-color: #ddd;
    border-radius: 10px 10px;
}
.skill-length {
    background-color: #9A20e6;/*912cee*/
    border-radius: 10px;
   	height:30px;
}
#javascript {
    width: 75%;
}
#css {
    width: 85%;
}
#html {
    width: 95%;
}
#wordpress {
    width: 60%;
}
/****************** END OF PROGRESS BARS *************************/


footer {
	padding:10px;
	text-align: center;
}
.social-links {
	font-size: 2.5em;
	/*box-sizing: border-box;*/
}
.social-links a {
	width: 60px;
	/*height: 60px;*/
	/*border-radius: 50%;*/
	/*margin-left: 20px;*/
	/*background: #9878a3;*/
}

/*End of section scope styling*/
/*Styling for mobile view and small screens*/

@media only screen and (max-width: 800px){
	.section-1 h3 {
		font-size: 25px;
	}
	.section-1 p {
		font-size: 20px;
	}
	.section-2 img {
		width:60%;
		border-radius: 50%;
	}
	.section-2 p{
	/*line-height: 1em;*/
	font-size:1em;
}
	.section-3 img {
		width:60%;
		border-radius: 50%;
	}
}

/*End of styling for mobile view and small screens*/
